<%= content_for :banner do %>
  <div role="banner" id="banner">
    <h1>Productos</h1>
    <%#= image_tag "store/homepage_logo.jpg", :alt => "Homepage Galiclick", :height => "143" %>
  </div>
<% end %>